extends ../layout

block title 
    title #{produit.nom}

block contenu 
    .row 
        .col-4 
            img(src=`${produit.image}`, alt="" , class="img-fluid")
        .col-8 
            header.d-flex.justify-content-between.align-items-baseline.mb-3
                h1 #{produit.nom}
                div.h2 #{produit.prix} €
            div.mb-3 #{produit.description}
            
            form
                label(for="quantite") quantité
                input(type="number" name="quantite" value="1" class="mx-2" id="quantite" style="width:50px")
                input(type="hidden" name="id" value=`${produit._id}` id="id")
                input(type="submit" class="btn btn-success" value="ajouter au panier")
            .message
    script(src="/front/single.js") 