extends ../index

block title 
    title gestion des produits du catalogue

block contenu_back
    h1 Gestion des produits du catalogue
    .my-3 
        a(href="/admin/catalogue/new" class="btn btn-outline-primary") créer nouveau produit
    table.table.table-striped.align-middle
        thead 
            tr  
                th #id 
                th nom 
                th image
                th prix 
                th en stock 
                th action 
        tbody 
            each produit in produits
                tr 
                    td #{produit._id}
                    td #{produit.nom}
                    td 
                        img(src=`${produit.image}`, alt="" width="100")
                    td #{produit.prix}
                    td 
                        if produit.en_stock
                            span.badge.bg-success en stock 
                        else 
                            span.badge.bg-danger indisponible
                    td 
                        a(href=`/admin/catalogue/${produit._id}` class="btn btn-warning me-2") update 
                        a(href=`/admin/catalogue/${produit._id}` class="btn btn-danger me-2") delete